@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
	font-size: 100%;
	line-height: 120%;
	--spacing: 2rem;
	scroll-behavior: smooth;
	--white: rgb(238, 239, 243);
	--darkblue: #154361;
	--lightblue: #addeff;
	--black:#000000;
	background-color: var(--white);
}

body {
	padding: calc(var(--spacing) /1.8);
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
}

h1 {
	font-size: 2.2rem;
	line-height: 2.4rem;
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing: -0.02rem;
}


header p{
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 1.96rem;
	letter-spacing: -0.02rem;
}

header {
	padding-block-start: calc(1.5 * var(--spacing));
	margin-block-end: var(--spacing);
}

blockquote {
	margin-inline: calc(var(--spacing)/2);
	margin-block: var(--spacing);
	font-family: "Nunito", sans-serif; 
	font-size: 1.3rem;
	font-weight: 200;
	line-height: 1.5rem;
	border-inline-start: 0.2rem ridge var(--black);
	border-radius: 0.4rem;
	padding-inline-start: calc(var(--spacing) / 2);
}

blockquote p {
	font-style: italic;
}

p {
	margin-block-end: var(--spacing);
	line-height: 1.4rem;
}

.links {
	display: flex;
	justify-content: space-between;
	padding-block-start: var(--spacing);
}

a {
	min-height: 1.4rem;
	border-radius: 0.4rem;
	font-family: "Nunito", sans-serif;
	color: var(--white);
	align-items: center;
	padding-inline: calc(var(--spacing) / 3);
	justify-content: center;
	text-align: center;
	border-style: ridge;
	border-width: 0.1rem;
	border-color: var(--darkblue);
	color: var(--darkblue);
	background: var(--lightblue);
	transition: 300ms ease-in-out;
}

/* inner shadow code obtained from https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
a:hover {
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	color: var(--white);
	background-color: var(--darkblue);
	transition: 300ms ease-in-out;
}


.linkbutton {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block: calc(var(--spacing) / 3);
	font-size: 0.75rem;
	line-height: 0.8rem;
	width: 16%;
	
}

.topbutton {
	position: fixed;
	inset-inline-end: var(--spacing);
	inset-block-end: var(--spacing);
	width: 25%;
	min-height: 2rem;
}

@media (width > 500px) {
	:root {
		font-size: 135%;
	}

	article p {
		padding-inline: var(--spacing);
		line-height: 1.4rem;
		max-width: 58ch;
	}

	h1 {
		padding-inline: var(--spacing);
	}

	blockquote {
		line-height: 1.8rem;
		margin-inline-start: 25%;
		margin-inline-end: var(--spacing);
	}
}

@media (width > 1000px) {
	:root {
		font-size: 180%;
	}

}



